body {
  font-family: sans-serif;
  background-color: whitesmoke;
}
h1 {
  color: white;
  padding: 8px 4px 0 4px;
  margin-top: 6px;
}
.todo-head {
  background-color: dodgerblue;
  text-align: center;
  border-radius: 10px 10px 0 0;
}
.total-container {
  width: 50%;
  margin: 50px auto;
}
#inputField {
  line-height: 20px;
  margin: 20px auto;
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: none;
}
#submitButton {
  padding: 4px 8px;
  border: none;
  border-radius: 3px;
  width: 50px;
  margin: 20px 0px 20px 10px;
}
#todo-list {
  background: #d5c4c6;
  padding: 25px;
  height: 300px;
}
li {
  list-style: none;
  width: 250px !important;
}
#todo-list-checked {
  background: #d5c4c6;
  height: 300px;
  margin: 0;
  padding: 0;
}
hr {
  margin: 0;
}
h3 {
  margin: 0;
  padding: 5px 20px;
}
@media screen and (max-width: 992px) {
  .total-container {
    width: 60%;
    margin: 10px auto;
  }
}
@media screen and (max-width: 768px) {
  .total-container {
    width: 80%;
    margin: 10px auto;
  }
}
@media screen and (max-width: 430px) {
  .total-container {
    width: 100%;
  }
}
